<%= form_with model: [map.campaign, map], html: { data: { action: "ajax:success->modal#close ajax:error->modal#onPostError" } } do |form| %>
  <% if map.errors.any? %>
    <ul class="errors">
    <% map.errors.full_messages.each do |error| %>
      <%= content_tag :li, error %>
    <% end %>
    </ul>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name, class: "input" %>

  <%= form.label :image %>
  <%= form.file_field :image, class: "input" %>

  <%= form.label :grid_size %>
  <%= form.text_field :grid_size, class: "input" %>

  <% if FogFeature.enabled_for?(current_user) %>
    <%= form.label :fog_enabled, "Enable fog" %>
    <%= form.check_box :fog_enabled, class: "input" %>
  <% end %>

  <div class="flex items-center justify-between">
    <div>
      <%= form.submit class: "btn" %>
      <%= link_to "Cancel", "#", data: { action: "click->modal#close" }, class: "inline-block mx-2 align-baseline text-sm text-gray-500 hover:text-gray-800" %>
    </div>
    <% if map.persisted? %>
      <%= link_to "Delete", campaign_map_path(map.campaign, map), method: :delete, remote: true, data: { action: "ajax:error->modal#onDeleteError", confirm: "Are you sure you want to delete #{map.name}?" }, class: "inline-block align-baseline text-sm text-red-500 hover:text-red-800" %>
    <% end %>
  </div>
<% end %>
