<%= render "errors", model: form.object %>

<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name, class: "input"%>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.email_field :email, class: "input" %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, class: "input" %>
</div>

<div class="text-field">
  <%= label_tag :sign_up_code %>
  <span class="text-sm text-gray-500">Available to <%= link_to "Patreon supporters", patreon_url, class: "text-blue-500 hover:text-blue-800" %></span>
  <%= text_field_tag :sign_up_code, nil, class: "input" %>
</div>
