<div id="clearance" class="password-reset">
  <p class="mb-4 text-gray-700"><%= t(".description") %></p>

  <%= form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form| %>
    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password, class: "input" %>
    </div>

    <div class="submit-field">
      <%= form.submit class: "btn" %>
    </div>
  <% end %>
</div>
