<div id="clearance" class="password-reset">
  <p class="mb-4 text-gray-700"><%= t(".description") %></p>

  <%= form_for :password, url: passwords_path do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: "email", class: "input" %>
    </div>

    <div class="submit-field">
      <%= form.submit class: "btn" %>
    </div>
  <% end %>
</div>
