<% if campaign.current_map.present? %>
  <%= content_tag :div,
    class: "flex-1 flex flex-row h-full",
    data: {
      controller: "map map--tokens #{"map--fog" if campaign.current_map.fog_enabled?}",
      "map-id": campaign.current_map.id,
      action: "dragover->map--tokens#dragOver"
    } do %>
    <% if admin %>
      <div class="current-map__token-drawer token-drawer" data-target="map--tokens.drawer" data-action="dragover->map--tokens#dragOverDrawer drop->map--tokens#dropOnDrawer">
        <%= link_to new_campaign_map_token_path(campaign, campaign.current_map), remote: true, title: "New Token", class: "token new-token-link" do %>
          <span class="token__image token__image-add">+</span>
        <% end %>

        <%= render campaign.current_map.tokens.where(stashed: true) %>
      </div>
    <% end %>
    <%= content_tag :div,
      class: "current-map relative overflow-hidden",
      data: {
        controller: "css-var #{"sync-values" if admin}",
        "map-id": campaign.current_map.id,
        target: "map.image map--tokens.image #{"map--fog.image" if campaign.current_map.fog_enabled?}",
        action: "dragover->map--tokens#dragOverMap drop->map--tokens#dropOnMap mousedown->map#pointTo #{"mousedown->map--fog#startDrawingFog" if campaign.current_map.fog_enabled? && admin} mousedown->map#moveMap",
        x: campaign.current_map.x,
        y: campaign.current_map.y,
        zoom: campaign.current_map.zoom,
        "zoom-amount": campaign.current_map.zoom_amount,
        "zoom-amounts": Map::ZOOM_LEVELS.join(","),
        "original-height": campaign.current_map.scaled_height,
        "original-width": campaign.current_map.scaled_width,
        height: campaign.current_map.height,
        width: campaign.current_map.width,
        "zoom-max": campaign.current_map.zoom_max,
        "css-vars": "x y viewport-x viewport-y original-width original-height zoom-amount",
        "sync-values-channel": "MapChannel",
        "sync-values-action": "move_map",
        "sync-values-channel-id": campaign.current_map.id,
        "sync-values-keys": "x y"
      } do %>
      <%= content_tag :div, "", class: "current-map__image", style: background_image(campaign.current_map.image) %>
      <div class="current-map__token-container" data-target="map.tokenContainer map--tokens.container">
        <%= render campaign.current_map.tokens.where(stashed: false) %>
      </div>

      <% if campaign.current_map.fog_enabled? %>
        <%= content_tag :canvas, "", width: campaign.current_map.scaled_width, height: campaign.current_map.scaled_height, class: "absolute fog #{"fog--dm" if admin}", data: { target: "map--fog.canvas", "map--fog-areas": serialize_fog_areas(campaign.current_map.fog_areas) } %>
      <% end %>

      <div class="current-map__map-name">
        <%= content_tag :h2, campaign.current_map.name %>
      </div>
      <div class="controls w-16 absolute top-0 right-0 m-2 flex justify-center">
        <%= button_tag class: "current-map__zoom-out flex-1 text-center border rounded-l-md h-6 bg-gray-200 cursor-default", data: { target: "map.zoomOut", action: "click->map#zoomOut" } do %>
          -
        <% end %>
        <%= button_tag class: "current-map__zoom-in flex-1 text-center border rounded-r-md h-6 bg-gray-200 cursor-default", data: { target: "map.zoomIn", action: "click->map#zoomIn" } do %>
          +
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h2>No Current Map</h2>
<% end %>
