<% if campaign.current_map.present? %>
  <%= content_tag :div,
    class: "flex-1 flex flex-row h-full #{"map--fog" if campaign.current_map.fog_enabled?} #{"map--fog--dm" if admin && campaign.current_map.fog_enabled?}",
    data: {
      controller: "map map--tokens map--pointers #{"map--fog" if campaign.current_map.fog_enabled?}",
      "map-id": campaign.current_map.id,
      action: "dragover->map--tokens#dragOver"
    } do %>
    <% if admin %>
      <%= render "maps/token_drawer", map: campaign.current_map %>
    <% end %>
    <%= content_tag :div,
      class: "current-map relative overflow-hidden",
      data: {
        controller: "css-var #{"sync-values" if admin}",
        "map-id": campaign.current_map.id,
        target: "map.image map--tokens.image map--pointers.image #{"map--fog.image" if campaign.current_map.fog_enabled?}",
        action: "dragover->map--tokens#dragOverMap drop->map--tokens#dropOnMap mousedown->map--pointers#pointTo #{"mousedown->map--fog#startDrawingFog" if campaign.current_map.fog_enabled? && admin} mousedown->map#moveMap",
        x: campaign.current_map.x,
        y: campaign.current_map.y,
        zoom: campaign.current_map.zoom,
        "zoom-amount": campaign.current_map.zoom_amount,
        "zoom-amounts": Map::ZOOM_LEVELS.join(","),
        "original-height": campaign.current_map.scaled_height,
        "original-width": campaign.current_map.scaled_width,
        height: campaign.current_map.height,
        width: campaign.current_map.width,
        "zoom-max": campaign.current_map.zoom_max,
        "css-vars": "x y viewport-x viewport-y original-width original-height zoom-amount",
        "sync-values-channel": "MapChannel",
        "sync-values-action": "move_map",
        "sync-values-channel-id": campaign.current_map.id,
        "sync-values-keys": "x y"
      } do %>
      <%= content_tag :div, "", class: "current-map__image", style: background_image(campaign.current_map.image) %>
      <div class="current-map__token-container" data-target="map--tokens.container map--pointers.container">
        <%= render campaign.current_map.tokens.where(stashed: false) %>
      </div>

      <% if campaign.current_map.fog_enabled? %>
        <%= content_tag :canvas, "", width: campaign.current_map.scaled_width, height: campaign.current_map.scaled_height, class: "absolute fog #{"fog--dm" if admin}", data: { target: "map--fog.canvas", "map--fog-areas": serialize_fog_areas(campaign.current_map.fog_areas) } %>
      <% end %>

      <div class="controls relative z-50 flex h-6 items-stretch m-2">
        <% if admin %>
          <%= button_tag class: "flex-initial block rounded-md border mr-1 px-2 text-sm bg-gray-200 hover:bg-gray-400 active:bg-gray-600 relative", data: { action: "toggle#toggle", "toggle-target": "token-drawer" }, title: "Tokens" do %>
            <%= inline_svg_tag "icons/tokens.svg", class: "block fill-current h-full text-black" %>
          <% end %>
          <%= render "campaigns/map_selector_button" %>
        <% end %>
        <div class="flex-initial rounded-md bg-gray-200 border px-2 text-sm">
          <%= content_tag :h2, campaign.current_map.name %>
        </div>
        <div class="flex-grow"></div>
        <div class="flex-initial w-16 flex justify-center content-center">
          <%= button_tag class: "current-map__zoom-out flex-1 text-right border rounded-l-md px-2 h-6 bg-gray-200 cursor-default", data: { target: "map.zoomOut", action: "click->map#zoomOut" } do %>
            <%= inline_svg_tag "icons/minus.svg", class: "block fill-current w-3/4 h-3/4 text-black" %>
          <% end %>
          <%= button_tag class: "current-map__zoom-in flex-1 text-right border rounded-r-md px-2 h-6 bg-gray-200 cursor-default", data: { target: "map.zoomIn", action: "click->map#zoomIn" } do %>
            <%= inline_svg_tag "icons/plus.svg", class: "block fill-current h-3/4 w-3/4 text-black" %>
          <% end %>
        </div>
      </div>

      <% if admin %>
        <div class="controls absolute bottom-0 right-0 flex items-stetch mb-2 mr-2" data-target="map--tokens.actions">
          <%= button_tag class: "action flex-initial block rounded-md border mr-1 px-2 text-sm bg-gray-200 hover:bg-gray-400 active:bg-gray-600 relative", data: { target: "map--tokens.action", action: "map--tokens#deleteSelected" }, disabled: true, title: "Delete" do %>
            Delete
          <% end %>
          <%= button_tag class: "action flex-initial block rounded-md border mr-1 px-2 text-sm bg-gray-200 hover:bg-gray-400 active:bg-gray-600 relative", data: { target: "map--tokens.action", action: "map--tokens#stashSelected" }, disabled: true, title: "Stash" do %>
            Stash
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="controls relative z-50 flex h-6 items-stretch m-2">
    <% if admin %>
      <%= render "campaigns/map_selector_button" %>
    <% end %>
    <div class="flex-initial rounded-md bg-gray-200 border px-2 text-sm">
      <%= content_tag :h2, "No Current Map" %>
    </div>
  </div>
<% end %>
