<% if campaign.current_map.present? %>
  <%= content_tag :h2, campaign.current_map.name %>
  <% if dm?(campaign) %>
    <%= link_to "New Token", new_map_token_path(campaign.current_map), remote: true %>
  <% end %>

  <%= content_tag :div,
    class: "current-map relative overflow-hidden",
    data: {
      controller: "map css-var",
      "map-id": campaign.current_map.id,
      target: "map.image",
      action: "dragover->map#dragOver #{dm?(campaign, "mousedown->map#moveMap")}",
      x: campaign.current_map.x,
      y: campaign.current_map.y,
      zoom: campaign.current_map.zoom,
      "zoom-amount": campaign.current_map.zoom_amount,
      height: campaign.current_map.height,
      width: campaign.current_map.width,
      "zoom-max": campaign.current_map.zoom_max,
      "css-vars": "x y viewport-x viewport-y width height zoom-amount"
    },
    style: "background-image: url('#{url_for campaign.current_map.image}');" do %>
    <div class="current-map__token-container" data-target="map.tokenContainer">
      <%= render campaign.current_map.tokens %>
    </div>
    <% if dm?(campaign) %>
      <div class="controls w-16 absolute top-0 right-0 m-2 flex justify-center">
        <%= button_tag class: "flex-1 text-center border rounded-l-md h-7 bg-gray-200 cursor-default", data: { target: "map.zoomOut", action: "click->map#zoomOut" } do %>
          -
        <% end %>
        <%= button_tag class: "flex-1 text-center border rounded-r-md h-7 bg-gray-200 cursor-default", data: { target: "map.zoomIn", action: "click->map#zoomIn" } do %>
          +
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h2>No Current Map</h2>
<% end %>
