<div class="grid grid-cols-1 md:grid-cols-2">
  <%= content_tag :h1, campaign.name, class: "text-4xl" %>
  <%= render "characters", campaign: campaign %>
</div>

<hr class="my-2" />

<%= content_tag :div, class: "relative", data: { controller: "campaign", "campaign-id": campaign.id } do %>
  <% if dm?(campaign) %>
    <%= render "map_selector", campaign: campaign %>
  <% end %>

  <div data-target="campaign.currentMap">
    <%= render partial: "current_map", locals: { campaign: campaign } %>
  </div>

  <div data-target="campaign.statusIndicator" class="absolute top-0 left-0 w-full h-full bg-white flex items-center justify-center opacity-50">
    <span>Connecting...</span>
  </div>
<% end %>
