<%= content_tag :h1, campaign.name, class: "text-4xl" %>

<hr class="my-2" />

<%= content_tag :div, data: { controller: "campaign", "campaign-id": campaign.id } do %>
  <div class="grid grid-cols-4 gap-4 my-4">
    <% campaign.maps.each do |map| %>
      <div class="campaign-map-selector relative rounded-lg border h-40 bg-cover bg-center overflow-none bg-black">
        <%= content_tag :div, nil, class: "bg-cover bg-center w-full h-full opacity-50 transition duration-150 rounded-lg", style: "background-image: url('#{url_for map.image}')" %>
        <%= content_tag :div, class: "absolute flex flex-col items-center justify-center w-full h-full top-0", data: { action: "click->campaign#chooseMapOption",  map_id: map.id } do %>
          <%= content_tag :span, map.name, class: "text-white font-bold pointer-events-none" %>
        <% end %>
      </div>
    <% end %>

    <%= link_to new_campaign_map_path(campaign) do %>
      <div class="rounded-lg border flex flex-col items-center justify-center h-40 bg-cover bg-center overflow-none bg-gray-200 text-gray-700">
        <div class="absolute">
          <span class="">New Map</span>
        </div>
      </div>
    <% end %>
  </div>

  <div data-target="campaign.currentMap">
    <%= render partial: "current_map", locals: { campaign: campaign } %>
  </div>
<% end %>
