<div class="bg-gray-200 select-none">
  <%= content_tag :div, class: "py-4 #{full_width ? "mx-4" : "mx-auto container px-8"}" do %>
    <div class="flex items-baseline">
      <%= link_to root_path, class: "flex-1" do %>
        <span class="text-2xl">Table</span>
        <span class="text-gray-600 italic">
          <% if content_for?(:subtitle) %>
            <%= yield :subtitle %>
          <% else %>
            A simple virtual table-top
          <% end %>
        </span>
      <% end %>
      <% if signed_in? %>
        <%= link_to t(".sign_out"), sign_out_path, method: :delete, class: "text-gray-600" %>
      <% else %>
        <%= link_to t(".sign_in"), sign_in_path, class: "text-gray-600" %>
      <% end %>
    </div>
  <% end %>
</div>
