<!DOCTYPE html>
<html>
  <head>
    <title>Table</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: "layouts/analytics" %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-gradient leading-relaxed tracking-wide flex flex-col">
      <%= yield %>
  </body>
</html>
